main{
    background:#F6F6F6;
    width:100%;
    .container{
        background:#F6F6F6;
        padding:56px;
        .goodsLists{
            background:#fff;
            width:100%;
            li{
                padding-top:22px;
                display:block;
                height:120px;
                font-size:12px;
                color:#999999;
                background:#fff;
                border-bottom:1px solid #ccc;
                img{
                    width:60px;
                    height:60px;
                }
                .checkbtn{
                    margin:33px 0 0 60px;
                }
                p{
                    display:block;
                    width:300px;
                    img{
                        margin-left:10px;
                    }
                    span{
                        display:block;
                        width:200px;
                    }
                }
                .price{
                    margin-left:90px;
                    color:red;
                }
                .del{
                    margin-left:80px;
                    margin-right:90px;
                    input{
                        width:50px;
                        border:1px solid #ccc;
                    }
                    button{
                        width:20px;
                        height:17px;

                    }
                }
                // a{
                //     margin-left:115px;
                // }
                a:hover{
                    color:orange;
                    text-decoration:underline;
                }
                .total{
                    width:161px;
                    color:red;
                }
            }
            li:nth-child(1){
                padding:0;
                background:#ECECEC;
                width:100%;
                height:50px;
                span{
                    display:block;
                    float:left;
                    width:14%;
                    text-align:center;
                    line-height:50px;
                }
                span:nth-child(2){
                    width:172px;
                }

            }
        }
        .guess_y{
            position:relative;
            background:#fff;
            margin-top:50px;
            padding:20px;
            height:213px;
            padding-bottom:30px;
            padding-top:30px;
            overflow:hidden;
            .left_{
                position:absolute;
                top:100px;
                left:4px;
                display:block;
                width:30px;
                height:30px;
                font-size:30px;
                line-height:30px;
                color:#ccc;
                z-index:1000;
            }
            h2:hover{
                background:pink;
            }
            .right_{
                 position:absolute;
                top:100px;
                left:1055px;
                display:block;
                width:30px;
                height:30px;
                font-size:30px;
                line-height:30px;
                color:#ccc;
                z-index:1000;
                text-align:center;



            }
            ul{
                display:block;
                width:10000px;
                position:absolute;
                left:20px;
                top:30px;
                // padding-top:20px;
                // padding-bottom:20px;
                li{
                    display:block;
                    width:200px;
                    margin-left:17px;
                    a{
                        display:block;
                        width:150px;
                        height:143px;
                        img{
                            margin-left:30px;
                        }
                        p{
                            font-size:14px;
                            color:#ccc;
                        }
                    }
                }
            }
        }
        .settlement{
            position:relative;
            width:1088px;
            height:200px;
            background:#fff;
            margin-top:50px;
            padding:30px;
            border:1px solid #ccc;
            a{
                display:block;
                width:100px;
                height:30px;
                border:1px solid red;
                color:red;
                font-size:14px;
                text-align:center;
                line-height:30px;
                float:left;
                margin:100px 0 0 50px;
            }
            .setLeft{
                width:500px;
                height:178px;
                position:absolute;
                top:20px;
                left:586px;
                a{
                    margin:30px 0 0 0px;
                    background:#E93B39;
                    color:#fff;
                }
                p{
                    font-size:14px;
                    color:#aaa;
                    span{
                        color:red;
                    }
                }
            }
        }

    }
}