.dl_hd{
    width:100%;
    background:#323131;
    .container{
        height:70px;
        display:flex;
        justify-content:space-between;
        ul{
            display:block;
            width:300px;
            height:70px;
            li{
                float:left;
                width:100px;
                a{
                    display:block;
                    height:70px;
                    color:#999999;
                    font-size:14px;
                    line-height:70px;
                }
                a:hover{
                    color:#EA721E;
                }
            }
        }
    }
}
.dl_main{
    width:100%;
    height:780px;
    background:#FDF8F4;
    .container{
        padding-top:50px;
        img{
            margin-left:50px;
            transform:scale(0.9);
            float:left;
        }
        .dl_tab{

            width:382px;
            height:500px;
            background:#fff;
            float:left;
            margin-left:50px;
            margin-top:20px;
            padding:30px;
            h2{
                display:flex;
                justify-content:space-between;
                width:300px;
                padding-left:20px;
                span{
                    display:block;
                    width:150px;
                    font-size:20px;
                    text-align:center;
                }

            }
            .dl_mima{
                display:none;
                position:relative;
                padding-top:32px;
                input{
                        border:1px solid #ccc;
                        width:310px;
                        height:42px;
                        // margin-top:15px;
                    }
                i{
                    display:block;
                    width:19px;
                    height:17px; 
                }
                .name_n{
                    background:url('../img/zitubiao1.png');
                    position:absolute;
                    top:66px;
                    left:268px;
                }
                 .name_p{
                    background:url('../img/zitubiao2.png');
                    position:absolute;
                    top:128px;
                    left:268px;
                }
                input:focus{
                    border:1px solid #F19108;
                    +.name_n{
                        background:url('../img/zitubiao3.png');
                    }
                    +.name_p{
                        background:url('../img/zitubiao4.png');
                    }
                }
                #dl_check{
                    display:block;
                    width:12px;
                    height:12px;
                    margin-top:2px;
                    // float:left;

                }
                label{
                    position:absolute;
                    top:157px;
                    left:17px;
                    // margin-top:15px;
                    font-size:12px;
                }
                a{
                    display:block;
                    width:310px;
                    height:42px;
                    line-height:42px;
                    text-align:center;
                    font-size:20px;
                    color:#fff;
                    background:#F19108;
                    letter-spacing:5px;
                    margin-top:20px;
                }
            }
            .dl_saoma{
                height:260px;
                position:relative;
                img{
                    position:absolute;

                    display:block;
                    width:200px;
                    height:200px;
                }
                .caozuo{
                    // display:none;
                     position:absolute;
                     top:10px;
                     left:200px;
                     opacity:0;
                }
                p{
                    // margin:220px 0 0 20px;
                    position:absolute;
                    top:234px;
                    left:60px;
                }
            }
            .dl_foot{
                p{
                    font-size:14px;
                    margin-top:20px;
                    color:#999999;
                    span{
                        display:inline-block;
                        width:100px;
                    }
                    img{
                        width:20px;
                        height:20px;
                    }  
                }
                .dl_fp{
                    a{  
                        display:inline-block;
                        width:100px;
                        color:#F19108;
                    }
                }
            }
        }
    }
}
.foot{
    width:100%;
    height:438px;
    background:#F5F5F5;
    .container{

            padding-top:77px;
            padding-bottom:66px;
        .f_top{
            ul{
                float:left;
                margin-right:180px;
                li{
                    display:block;
                    height:36px;
                    a{
                        font-size: 14px;
                        color:#000;
                    }
                    a:hover{
                        color:#F8A120;
                    }
                }
            }
        }
        p{
            padding-top:40px;
            span{
                font-size:14px;
                margin:0 35px 0 0;
            }
            span:nth-child(2){
                i{
                    display:inline-block;
                    width:18px;
                    height:20px;
                    background:url("../img/w1.fw.png") -163px 0 no-repeat;
                }
            }
        }
        h6{
            margin-top:12px;
            font-size:14px;
        }
        .f_b{
            padding-top:15px;
            ul{
                li{
                    float:left;
                    width:147px;
                    a{
                        display:block;
                        width:127px;
                        height:41px;
                        background:url("../img/w1.fw.png") no-repeat;
                    }
                }
            }
        }
    }
}
.lightHeight{
    color:#FFD58B;
}