main{
    width:100%;
    .container{
        .list{
            width:100%;
            ul{
                display:flex;
                justify-content:space-between;
                flex-flow:wrap;
                width:100%;
                padding-top:50px;
                li{

                    a{
                        display:block;
                        width:270px;
                        height:370px;
                        padding-left:35px;
                        p{
                            font-size:14px;
                        }
                    }

                }

            }
        }
    }
}