main{
    width:100%;
    .container{
        .fx{
            p{
                display:inline-block;
            }
            button{
                width:50px;
                height:30px;
                // background:#ededed;
            }
        }
        .list{
            width:100%;
            ul{
                display:flex;
                justify-content:space-between;
                flex-flow:wrap;
                width:100%;
                padding-top:50px;
                li{
                        border:2px solid #fff;
                    
                    a{
                        padding-top:50px;
                        display:block;
                        width:270px;
                        height:370px;
                        padding-left:35px;
                        p{
                            font-size:14px;
                            color:#666;
                            margin-top:10px;
                        }
                        span{
                            font-size:16px;
                            color:#5d5d5d;
                            font-weight:1000;
                        }
                    }

                }
                li:hover{
                        
                        background:#f5f5f5;
                        border:2px solid red;
                        transition:all 1s;
                    
                }

            }
        }
        .page{
            // width:80px;
            margin-left:500px;
            span{

            }
        }
        .changeActive{
            background:yellow;
        }
    }
        .px{
            height:30px;
     
            margin-top:30px;
           

        }
}