#header {
    width:100%;
    // background:#ccc;
    .container{
        padding:32px 32px 0 32px;
        display:flex;
        justify-content:space-between;
        .hd_l{
            width:300px;
            height:108px;
            img{float:left;}
            // p{float:left;}
            .span_t{font-size:18px;}
            .span_b{font-size:14px;}
        }
        .hd_r{
              position:relative;

            ul{
                width:300px;
                // position:absolute;
                // left:0px;
                // top:0px;
                li{

                    position:relative;
                    float:left;
                    margin:10px;
                    a{
                        font-size:12px;
                        color:#000;
                    }
                    a:hover{
                        color:orange;
                    }
                }
                
                li:nth-child(3){
                    a{
                        i{
                            display:block;
                            width:8px;
                            height:9px;
                            background:url("../img/w1.fw.png") 0 0 no-repeat;
                            position:absolute;
                            top:8px;
                            left:50px;
                        }
                    }
                    a:hover{
                        div{
                            display:block;

                        }
                        i{
                            transform:rotate(180deg);
                            transition:all 1s;
                        }
                    }
                    div{
                        display:none;
                        position:absolute;
                        top:20px;
                        left:0px;
                        width:200px;
                        border:1px solid orange;
                        background-color:#fff;
                        z-index:100;
                        p:nth-child(4){
                        color:#C5C4BF;
                      }
                    }
                }

            }
            .car{
                position:absolute;
                top:60px;
                left:174px;
            }
        }
    } 
}
.nav{
    position:relative;
    width:100%;
    height:46px;
    background:#000;
    ul{
        display:flex;
        width:800px;
        li{
            display:block;
            height:46px;
             width:10%;
            a{
                display:block;
                color:#fff;
                font-size:14px;
                height:46px;
                width:100%;
                text-align:center;
                line-height:46px;
            }

            a:hover{
                color:#EA721E;
                // +div{
                //     display:block;
                // }
            }
            // div:hover{
            //     display:block;
            // }
            div{
                background:#fff;
                display:none; 
                position:absolute;
                top:146px;
                left:0px;
                width:1263px;
                z-index:1000;
                padding:20px;
                padding-top:50px;
                   
                border-bottom:3px solid  #F8A120;
                // display:flex;
                // justify-content:space-between;
                opacity:1;
                
                    ul{ 
                        width:400px;
                        display:flex;
                        flex-flow:wrap;
                        float:left;
                        
                        li{
                            display:block;
                            height:30px;
                            width:50%;

                            a{
                                display:block;
                                width:30px;
                                 width:100px;
                                text-align:left;
                                color:#000;
                            }
                        }
                    }
                


            }
        }

    }
    .form{
        position:absolute;
        top:3px;
        left:990px;
        input{
            width:225px;
            height:40px;
        }
        i{
            display:block;
            width:16px;
            height: 16px;
            background:url("../img/w1.fw.png") -117px 0px no-repeat;
            position:absolute;
            top:13px;
            left:200px;
        }
    }

}
.lbt{
    width:100%;
}
.main{
    width:100%;
    .container{

        padding-top:50px;
        ul{

            li:nth-child(2n-1) {
           

                    margin-right:20px;
        

            }
            li{
                width:590px;
                float:left;


                a{
                    display:block;
                    width:590px;
                    height:448px;

                    span{
                        display:block;
                        width:590px;
                        height:300px; 
                        border-bottom:5px solid #fff; 
                        overflow:hidden;
                        transition:all 1s;


                        img{
                            width:590px;
                            height:300px; 
                            transition:all 1s;

                        }
                    }
                    h2{
                        font-size:26px;
                        color:#000;
                    }
                }
                a:hover{
                    color:#F8A120;
                    h2{
                    color:#F8A120;

                    }
                    span{
                        border-bottom:5px solid #F8A120;
                        img{
                            transform:scale(1.1);

                        }

                    }
                }
            }
        }

    }
}
.foot{
    width:100%;
    height:438px;
    background:#F5F5F5;
    .container{

            padding-top:77px;
            padding-bottom:66px;
        .f_top{
            ul{
                float:left;
                margin-right:180px;
                li{
                    display:block;
                    height:36px;
                    a{
                        font-size: 14px;
                        color:#000;
                    }
                    a:hover{
                        color:#F8A120;
                    }
                }
            }
        }
        p{
            padding-top:40px;
            span{
                font-size:14px;
                margin:0 35px 0 0;
            }
            span:nth-child(2){
                i{
                    display:inline-block;
                    width:18px;
                    height:20px;
                    background:url("../img/w1.fw.png") -163px 0 no-repeat;
                }
            }
        }
        h6{
            margin-top:12px;
            font-size:14px;
        }
        .f_b{
            padding-top:15px;
            ul{
                li{
                    float:left;
                    width:147px;
                    a{
                        display:block;
                        width:127px;
                        height:41px;
                        background:url("../img/w1.fw.png") no-repeat;
                    }
                }
            }
        }
    }
}
.go_top{
    display:block;
    width:50px;
    height:50px;
    background:pink;
    border-radius:50%;
    font-size:14px;
    padding-top:5px;
    position:fixed;
    top:610px;
    left:1150px;
    z-index:1000;
    color:#fff;
    // opacity:0;

}
.xiding{
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
}